<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.hnyr.weixiudemo.domain.Department">
            <id property="id" column="id" />
            <result property="deptName" column="dept_name" />
    </resultMap>

    <sql id="Base_Column_List">
        id,dept_name
    </sql>
</mapper>
